//color
$color-primary: rgb(0, 0, 0);
$color-accent: rgb(255, 255, 0);
$color-accent2: rgb(255, 0, 234);

//color pallete
$color-white: #fff;
$color-black: #000;
$color-green: #2e7d32;

// greys
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-text: #263238;

//color SNS
$color-kakao: #fef01b;
$color-kakao-dark: #706908;
$color-kakao-text: #290d00;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$section-pad-td: 5rem;
